<!--审批意见-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv=pragma content=no-cache>
    <meta http-equiv=cache-control content=no-cache>
    <meta http-equiv=expires content=0>
</head>
<body>
<!-- begin of main -->
<div class="container-fluid MemberAdd" ng-controller="opinionController as vm">
    <form action="" class="form-horizontal">
        <div>
            <h3>
                审批意见
                <button type="button" class="btn btn-primary btn-sm" ng-click='vm.check(1)'>辅助审查</button>
            </h3>
        </div>

        <div class="form-group">
            <div class="col-sm-2 text-right lineHeight34">
                审批结果：
            </div>
            <div class="col-sm-5">
                <!--<radio name="processresult" filter-dict="12,13,14" torch-dict="DFCM11" data="vm.ApplyOpinionDetail.processresult"></radio>-->
                <label class="radio-inline form-control-static">
                    <input type="radio" name="processresult" ng-model="vm.ApplyOpinionDetail.processresult" value="14">通过
                </label>
                <label class="radio-inline form-control-static">
                    <input type="radio" name="processresult" ng-model="vm.ApplyOpinionDetail.processresult" value="12">不予受理
                </label>
                <label class="radio-inline form-control-static">
                    <input type="radio" name="processresult" ng-model="vm.ApplyOpinionDetail.processresult" value="13">驳回
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 text-right padding-top">
                企业细类：
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="CA90" id="" torch-dict="CA16" ng-model="vm.entTypeQuery.enttype"></select>
            </div>
        </div>

        <div class="form-group" ng-if="vm.ApplyOpinionDetail.processresult == 14">
            <div class="col-sm-2 text-right">
                下一环节：
            </div>
            <div class="col-sm-10">
                <div class="form-group col-sm-12">
                    <label class="radio-inline form-control-static">
                        <input type="radio" name="nextSteps" class="" value="1" ng-model="nextStep.value">直接准核
                    </label>
                </div>
                <div class="form-group col-sm-12">
                    <label class="radio-inline form-control-static">
                        <input type="radio" name="nextSteps" class="" value="2" ng-model="nextStep.value">提交本级机关准核
                    </label>
                    选择核准人：<select name="b" id="" torch-dict="CA01" class="form-control" style="width: 150px;display: inline-block"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label class="radio-inline form-control-static">
                        <input type="radio" name="nextSteps" class="" value="3" ng-model="nextStep.value">提交上级机关准核
                    </label>
                    选择上级机关：<select name="b" id="" torch-dict="CA01" class="form-control" style="width: 150px;display: inline-block"></select>
                </div>
            </div>
        </div>

        <div>
            <b class="text-info pointer" ng-click="vm.putAway()" ng-bind="vm.putAways"></b>
        </div>

        <div class="form-group" ng-if="vm.opinionTable">
            <div class="col-sm-2 text-right">
                审批意见：
            </div>
            <div class="col-sm-8">
                <textarea ng-model="vm.ApplyOpinionDetail.processmsg" class="form-control resizeNone" name="" id="" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="vm.opinionTable">
            <div class="col-sm-2 text-right">
                <span>历史审批意见：</span>
            </div>
        </div>

        <div class="form-group" ng-if="vm.opinionTable">
            <div class="col-sm-10 col-sm-offset-1">
                <table name="member" class="table table-edit table-bordered table-striped small-gap">
                    <thead>
                        <tr>
                            <th class="text-center">姓名</th>
                            <th class="text-center">日期</th>
                            <th class="text-center">审批意见</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="approval in vm.ApplyOpinionList">
                            <td class="text-center" ng-bind="approval.opername"></td>
                            <td class="text-center" ng-bind="approval.processenddate"></td>
                            <td class="text-center" ng-bind="approval.processmsg"></td>
                        </tr>
                        <tr class="text-center">
                            <td ng-if="vm.ApplyOpinionList.length == 0" colspan="3" class="alert alert-warning" role="alert">
                                暂无数据
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--按钮-->
        <div class="text-center gap">
            <button type="button" class="btn btn-primary btn-sm" ng-click="vm.saveSetup(0)">
                <i class="glyphicon glyphicon-floppy-disk"></i>保存
            </button>
            <button type="button" class="btn btn-primary btn-sm"   ng-click="vm.saveSetup(1)">
                <i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;提交
            </button>
        </div>
    </form>
</div>
<!-- end of main -->
<script type="text/javascript" src="../../../../script/entry.js"></script>
<script type="text/javascript">
    loadJs('./cp-1100-opinion.js');
</script>
</body>
</html>